html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'Press Start 2P', cursive;
  background: repeating-linear-gradient(
    0deg,
    #0f0a1e,
    #0f0a1e 2px,
    lighten(#0f0a1e, 3%) 2px,
    lighten(#0f0a1e, 3%) 4px
  );
}
div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  color: white;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a,
    -4px 0 0 #df4a42,
    2px 0 0 #91fcfe,
    4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite;
  
 @keyframes blink
   to
     visibility: hidden;
}
